@media screen and (min-width : 320px) and (max-width : 767px) {
  button.menu-toggle:focus, a.open-search-form:focus {
    outline: 3px solid #ffbc00 !important;
    text-decoration: none !important;
  }
  .register, .login{
    display: inline-block;
  }
  .header i.fa.fa-search, .header i.fas.fa-shopping-cart {
    background: #ff5e5e;
    padding: 14px;
  }
  #site-navigation{
    padding-bottom:15px;
  }
  .slider h3.post-title {
    font-size: 40px;
  }
  .blog_inner_box {
    right: 0;
    clip-path: none;
    background: rgb(226 221 209 / 75%);
  }
  .blog_inner_box p{
    display: none;
  }
  .content_inner_box a{
    font-size: 25px;
  }
  .content_inner_box {
    left: 5%;
    right: 5%;
  }
  .menu-toggle,
  .dropdown-toggle,button.close-menu {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    background: #ff5e5e;
    color: #fff;
    border: none;
  }
  #main-menu,a.cart-customlocation p.cart-item-box {
    display: none;
  }
  .header.toggled #main-menu {
    display: block;
  }
  #main-menu ul li {
    float: left;
    width: 100%;
  }
  #main-menu > li > ul.children,
  #main-menu > li > ul.sub-menu {
    position: absolute;
    top:-100%;
    background: #fff;
  }
  #main-menu li.focus > ul.children,
  #main-menu li.focus > ul.sub-menu ,
  #main-menu li:hover > ul.children,
  #main-menu li:hover > ul.sub-menu ,
  #main-menu li:focus > ul.children,
  #main-menu li:focus > ul.sub-menu {
    width: 100%;
    top:0;
    left: 0 !important;
    position: relative;
  }
  #main-menu ul {
    padding: 0;
    float: none;
  }
  #main-menu ul li a {
    padding: 0;
  }
  #main-menu ul.children li a ,
  #main-menu ul.sub-menu li a {
    padding: 0;
    line-height:53px;
    color: #fff !important;
  }
  #main-menu ul li.menu-item-has-children:after {
    content: '';
    position: absolute;
    border: solid #fff;
    right: 10px;
    top: 50%;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: translate(0,-50%) rotate(-45deg);
    transform: translate(0,-50%) rotate(-45deg);
  }
  #main-menu ul.children li,
  #main-menu ul.sub-menu li {
    width: 100%;
    font-size: 12px;
    padding-left: 10px;
  }
  #main-menu ul li.menu-item-has-children:hover:after ,
  #main-menu ul li.menu-item-has-children:focus:after,
  #main-menu ul li.menu-item-has-children.focus:after {
    top: 20px;
    -webkit-transform:  rotate(45deg);
    transform:  rotate(45deg);
  }
  #main-menu a:hover,
  #main-menu ul li a:hover,
  #main-menu li:hover > a,
  #main-menu a:focus,
  #main-menu ul li a:focus,
  #main-menu li.focus > a,
  #main-menu li:focus > a,
  #main-menu ul li.current-menu-item > a,
  #main-menu ul li.current_page_item > a,
  #main-menu ul li.current-menu-parent > a,
  #main-menu ul li.current_page_ancestor > a,
  #main-menu ul li.current-menu-ancestor > a {
    background:none;
  }
}

@media screen and (min-width : 768px) and (max-width : 1000px) {
  #main-menu ul li a{
    padding:5px;
  }
  .blog_inner_box {
    right: 40%;
  }
  a.cart-customlocation p.cart-item-box{
    right: 0;
  }
  .content_inner_box {
    left: 10%;
    right: 20%;
  }
}

@media screen and (min-width : 1024px) and (max-width : 1199px) {
  #main-menu ul li a{
    padding:5px;
  }
  a.cart-customlocation p.cart-item-box{
    right: 12px;
  }
  .content_inner_box{
    left: 10%;
    right: 15%;
  }
}